.search {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
}

.search__icon {
    margin-right: 1.5rem;
    display: inline;
}

.search__text {
    margin: 0;
    font-weight: 500;
}

.explanationBlock {
    display: flex;
    flex-direction: column;
}

.description__title {
    margin-top: 0rem;
}

.describ {
    text-align: center;
    background-color: #f6f6f6;
    padding: 2rem;
}

.describ__text {
    font-weight: 200;
    margin-bottom: 3rem;
}

.describ__button {
    margin-top: 1rem;
    text-decoration: none;
    background-image: linear-gradient(0deg, #9356dc, #ff79da);
    box-shadow: 0.25rem 0.25rem 10px #bebcbc;
    padding: 1rem;
    border-radius: 1.5rem;
    z-index: 1;
    &:hover {
        box-shadow: 0.25rem 0.25rem 10px #9c9a9a;
        background-image: linear-gradient(
            0deg,
            lighten(#9356dc, 3),
            lighten(#ff79da, 3)
        );
    }
}

.useDescrib {
    padding: 1rem;
}

.step__div {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 1.5rem 0;
    box-shadow: 0 2px 7px rgb(211, 208, 208);
    border-radius: 1.5rem;
    margin: 2rem;
}

.step__div__number {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.5rem;
    width: 1.5rem;
    background-color: #9356dc;
    border-radius: 50%;
    position: absolute;
    left: 34px;
}

.step__div__icon {
    margin: 0 1rem 0 2rem;
    color: #86868d;
}

.step__div__text {
    margin: 0;
}

.restaurant {
    padding: 1rem;
    background: #f6f6f6;

    .restaurant__card {
        display: block;
        border-radius: 1.5rem;
        text-decoration: none;
        box-shadow: 0 2px 7px rgb(211, 208, 208);
        color: black;
        margin-bottom: 1.5rem;
        position: relative;

        .restaurant__card__image {
            width: 100%;
            height: 12rem;
            object-fit: cover;
            border-radius: 1.5rem 1.5rem 0 0;
        }

        .restaurant__card__info {
            padding: 1rem;
            display: flex;
            justify-content: space-between;

            h3 {
                margin: 0;
                text-decoration: none;
            }

            p {
                margin: 0.5rem 0 0 0;
                text-decoration: none;
                font-weight: 300;
            }

            .restaurant__card__info__divIcon {
                font-size: 2rem;
            }
        }

        .restaurant__card__span {
            position: absolute;
            background-color: #99e2d0;
            color: #1b6145;
            padding: 0.5rem;
            top: 1rem;
            right: 0.75rem;
        }
    }
}
